.chat-input {
  display: flex;
  align-items: center;
  padding: 1.3vh;
  border-top: 0.2vh solid #333;
  background-color: #000;
  position: absolute;
  bottom: 1vh;
  left: 1vh;
  right: 1vh;
  z-index: 10;
  gap: 1vh;
}

.chat-input input {
  flex: 1;
  min-width: 0;
  color: #fff;
  padding: 1.3vh 2.2vh;
  background-color: black;
  border-radius: 1.8vh;
  font-size: 2vh;
  margin: 0 1vh;
  outline: none;
}

.chat-input button {
  background-color: #6b5b7c;
  color: white;
  border: none;
  padding: 1.3vh 2.2vh;
  border-radius: 2.1vh;
  font-size: 2.4vh;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-input button:hover {
  background-color: #6b5b7c;
}
